/* ------------ 通用方法 ----------- */
:root {
  --theme: #1890ff;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

/*-----------------通用布局(g-)-----------------------*/

.g-ant {
  display: flex;
}

.g-ant__sider {
  flex-shrink: 0;
  background: #00152a;
  width: 208px;
  min-height: 100vh;
  position: relative;
  z-index: 3;
}

.g-ant-sider__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.g-ant-sider__wrap--fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: inherit;
  overflow: hidden;
}

.g-ant__sider--closed {
  width: 48px;
  overflow: hidden;
}

.g-ant-sider__head {
  flex-shrink: 0;
}

.g-ant-sider__main {
  flex-grow: 1;
  overflow: hidden auto;
}

.g-ant-sider__main::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.g-ant-sider__main::-webkit-scrollbar-thumb {
  background: #51606d;
  border-radius: 3px;
}

.g-ant-sider__main::-webkit-scrollbar-track {
  background: #263849;
  border-radius: 3px;
}

.g-ant-sider__foot {
  flex-shrink: 0;
}

.g-ant__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #f1f2f6;
}

.g-ant-main__head {
  height: 48px;
  background: white;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 1px 4px #ccc;
  column-gap: 20px;
  padding: 0 20px;
}

.g-ant-main__head--fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.g-ant-main__head--fixed:not(.hide) + .g-ant-main__main {
  margin-top: 48px;
}

.g-ant-main__head > span {
  margin-left: -15px;
}

.g-ant-main__main {
  flex-grow: 1;
}

.g-ant-main__foot {
  margin-top: 70px;
  margin-bottom: 30px;
  line-height: 30px;
  text-align: center;
  color: #868782;
}

.g-ant-main__foot a {
  color: inherit;
  margin: 0 20px;
}

/*-----------------通用模块(m-)-----------------------*/

.m-logo {
  display: flex;
  align-items: center;
  padding: 16px;
  color: white;
}

.m-logo > img {
  width: 32px;
}

.m-logo > h1 {
  font-weight: 600;
  margin-left: 12px;
  flex-shrink: 0;
}

.m-logo2 {
  display: none;
  align-items: center;
  margin-right: auto;
}
.m-logo2 > img {
  width: 32px;
}
.m-logo2 > .u-bar {
  color: inherit;
}

.g-ant__sider--closed .m-logo {
  padding: 16px 8px;
}

.m-menu {
  color: #8c959e;
  cursor: pointer;
}

.m-menu__title {
  height: 44px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 15px;
}

.m-menu__title > span {
  margin-right: auto;
}

.m-menu__sub {
  display: none;
}

.m-menu__sub > li {
  padding-left: 45px;
  height: 40px;
  line-height: 40px;
}

.m-menu--selected .m-menu__title {
  color: white;
}

.m-menu--selected .m-menu__sub {
  display: block;
}

.m-menu__sub--selected {
  background: var(--theme);
  color: white;
}

.g-ant__sider--closed .m-menu__title {
  transform: scale(1.5);
}

.g-ant__sider--closed .m-menu__sub {
  display: none;
}

/* ------------ 通用元件 ----------- */

.u-bar {
  font-size: 18px;
  color: white;
  display: block;
  padding: 15px;
  cursor: pointer;
}
/* ------------ 响应式系统 ----------- */
